rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection: Each user can create data in their own section
    match /users/{userId} {
      allow create: if request.auth != null;

      // Allow read, write if the user is in their own section
      allow read, update: if isUserOwnSection(userId);
    }

    match /lists/{document} {
      allow read: if isEmailInArray('read');
      allow write: if isEmailInArray('write');

      allow create: if request.auth != null;
    }
  }
}

function isEmailInArray(accessType) {
  // Get the user's email from the authentication token
  let userEmail = request.auth.token.email;

  // Ensure the user is authenticated and their email is in the specified array
  return request.auth != null && userEmail != null && 
  userEmail in resource.data.access[accessType];
}

// Helper function to check if the user is writing to their own section or list
function isUserOwnSection(userId) {
  return request.auth != null && request.auth.uid == userId;
}